@model OpenOrderFramework.Models.Program

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Common.Create</h2>

@ViewBag.ProgramName
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Program</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                "../CodeKind/Index"
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgramID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProgramID)
                @Html.ValidationMessageFor(model => model.ProgramID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentProgramID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentProgramID)
                @Html.ValidationMessageFor(model => model.ParentProgramID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProgDescription)
                @Html.ValidationMessageFor(model => model.ProgDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Add, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Add)
                @Html.ValidationMessageFor(model => model.Add)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Search, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Search)
                @Html.ValidationMessageFor(model => model.Search)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modify, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modify)
                @Html.ValidationMessageFor(model => model.Modify)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Delete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Delete)
                @Html.ValidationMessageFor(model => model.Delete)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Print, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Print)
                @Html.ValidationMessageFor(model => model.Print)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Run, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Run)
                @Html.ValidationMessageFor(model => model.Run)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Help, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Help)
                @Html.ValidationMessageFor(model => model.Help)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Transform, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transform)
                @Html.ValidationMessageFor(model => model.Transform)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkPage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkPage)
                @Html.ValidationMessageFor(model => model.LinkPage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Memo)
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgramOrder, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProgramOrder)
                @Html.ValidationMessageFor(model => model.ProgramOrder)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserID)
                @Html.ValidationMessageFor(model => model.CreateUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDateTime)
                @Html.ValidationMessageFor(model => model.CreateDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyUserID)
                @Html.ValidationMessageFor(model => model.ModifyUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDateTime)
                @Html.ValidationMessageFor(model => model.ModifyDateTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Common.btnCreate class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.Common.BacktoList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
