@model OpenOrderFramework.Models.Program

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Common.Details</h2>

<div>
    <h4>Program</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentProgramID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentProgramID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Search)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Search)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Print)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Print)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Run)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Run)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Help)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Help)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Common.Edit, "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink(Resources.Common.BacktoList, "Index")
</p>
