@model OpenOrderFramework.Models.Product_d

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FacyboxLayout.cshtml";
}

<div>
    @Html.ActionLink(Resources.Common.BacktoList, "Index", new { id = @ViewBag.CompanyID + ',' + @ViewBag.ProductID })
</div>

<div style="text-align:center;display:inline">
    <h2>產品編號：@ViewBag.ProductID <small>@Resources.Common.Create</small></h2>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.CompanyID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.ProductID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.ProductID } })
                @Html.ValidationMessageFor(model => model.ProductID)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Temperature, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Temperature)*@
                @Html.DropDownListFor(model => model.Temperature, (IEnumerable<SelectListItem>)ViewBag.CodeTemperatures, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Temperature)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Size, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Size)*@
                @Html.DropDownListFor(model => model.Size, (IEnumerable<SelectListItem>)ViewBag.CodeSizes, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.SalePrice, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalePrice)
                @Html.ValidationMessageFor(model => model.SalePrice)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Memo)
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.CreateUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.CreateUserID)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CreateDateTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDateTime)
                    @Html.ValidationMessageFor(model => model.CreateDateTime)
                </div>
            </div>*@

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.ModifyUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyUserID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.ModifyUserID)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ModifyDateTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifyDateTime)
                    @Html.ValidationMessageFor(model => model.ModifyDateTime)
                </div>
            </div>*@


        <div class="form-group col-md-12">
            <div class="control-label text-right">
                <input type="submit" value=@Resources.Common.btnCreate class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
