@model OpenOrderFramework.Models.LongOrder_m

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Common.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LongOrder_m</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CompanyID)

        @Html.HiddenFor(model => model.LongOrderNo)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNo)
                @Html.ValidationMessageFor(model => model.OrderNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatetimeS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatetimeS)
                @Html.ValidationMessageFor(model => model.DatetimeS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatetimeE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatetimeE)
                @Html.ValidationMessageFor(model => model.DatetimeE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CycleDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CycleDay)
                @Html.ValidationMessageFor(model => model.CycleDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CycleWeek, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CycleWeek)
                @Html.ValidationMessageFor(model => model.CycleWeek)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CycleMonth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CycleMonth)
                @Html.ValidationMessageFor(model => model.CycleMonth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CycleHour, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CycleHour)
                @Html.ValidationMessageFor(model => model.CycleHour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Memo)
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DataStatus, (IEnumerable<SelectListItem>)ViewBag.CodeOrderDataStatuses, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DataStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserID)
                @Html.ValidationMessageFor(model => model.CreateUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDateTime)
                @Html.ValidationMessageFor(model => model.CreateDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyUserID)
                @Html.ValidationMessageFor(model => model.ModifyUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDateTime)
                @Html.ValidationMessageFor(model => model.ModifyDateTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Common.btnSave class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.Common.BacktoList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
