@*@model IEnumerable<openorderframework.models.longorder_m>*@
@using PagedList.Mvc
@model OpenOrderFramework.ViewModels.LongOrder_mListViewModel
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div style="text-align:center;display:inline">
    <h2>@ViewBag.ProgramName <small>@Resources.Common.Index</small></h2>
</div>
<div class="well" id="Search">
    @using (Html.BeginForm("Index", "LongOrder_m",
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form", id = "PageList" }))
    {
        <div class="row">
            <div class="col-md-6 form-group">
                @*<label class="col-lg-3 control-label">Product Name:</label>*@
                @Html.LabelFor(x => x.LongOrder_ms.FirstOrDefault().LongOrderNo, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.SearchParameter.LongOrderNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6 form-group">
                @*<label class="col-lg-3 control-label">Quantity Per Unit:</label>*@
                @Html.LabelFor(x => x.LongOrder_ms.FirstOrDefault().OrderNo, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.SearchParameter.OrderNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">Supplier:</label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(x => x.SearchParameter.Supplier, (SelectList)Model.Suppliers, "-- select item --", new { @class = "form-control" })
                    </div>
                </div>*@

        </div>
        <span class="clearfix"></span>
        <div class="row">
            <div class="col-md-offset-5">
                <input type="submit" class="btn btn-primary" value=@Resources.Common.Search>
                <span></span>
                <input type="reset" class="btn btn-default" value=@Resources.Common.Cancel>
            </div>
        </div>
    }
</div>

    <table class="table">
        <thead>
            <tr id="sticker">
                <th>

                    <div class="btn-group" role="group" aria-label="...">

                        @Html.ActionLink(Resources.Common.Create, "Create", "", new { @class = "fancybox fancybox.iframe btn btn-default btn-group btn-sm", role = "group" })
                        <a class="fancybox btn btn-default btn-group btn-sm" href="#Search">查詢</a>

                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.PagedListPager(Model.LongOrder_ms,
    page => Url.Action("Index", new { page }),
    PagedListRenderOptions.ClassicPlusFirstAndLast)


                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().LongOrderNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().OrderNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().DatetimeS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().DatetimeE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().CycleDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().CycleWeek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().CycleMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().CycleHour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().Memo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().DataStatus)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().CreateUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().CreateDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().ModifyUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongOrder_ms.FirstOrDefault().ModifyDateTime)
                </th>*@
                <th></th>
            </tr>
        </thead>

            @foreach (var item in Model.LongOrder_ms)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongOrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatetimeS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatetimeE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CycleDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CycleWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CycleMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CycleHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Memo)
                    </td>
                    <td>
                        @if (@Model.CodeOrderDataStatus.ContainsKey(item.DataStatus))
                        {@Model.CodeOrderDataStatus[item.DataStatus] }
                        else
                        {@Html.DisplayFor(modelItem => item.DataStatus)}
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreateUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDateTime)
                    </td>*@
                    <td>
                        @Html.ActionLink(Resources.Common.Edit, "Edit", new { id = item.CompanyID + ',' + @item.LongOrderNo }) |
                        @Html.ActionLink(Resources.Common.Details, "Details", new { id = item.CompanyID + ',' + @item.LongOrderNo }) |
                        @Html.ActionLink(Resources.Common.Delete, "Delete", new { id = item.CompanyID + ',' + @item.LongOrderNo })
                    </td>
                </tr>
            }

</table>
    @section scripts
{
        <script type="text/javascript">
            $(function () {
                $('.pagination>li>a[href]').each(function (i, item) {
                    var page = $(item).attr('href').replace('/LongOrder_m?page=', '');
                    $(item).attr('href', '#').click(function () { postPage(page); });

                });
            });

            function postPage(page) {
                var targetFormId = '#PageList';
                if ($(targetFormId).size() > 0) {
                    $('<input>')
                        .attr({ type: 'hidden', id: 'PageIndex', name: 'PageIndex', value: page })
                        .appendTo($(targetFormId));
                    $(targetFormId).submit();
                }
            };
        </script>
    }
