@*@model IEnumerable<openorderframework.models.employee>*@
@using PagedList.Mvc
@model OpenOrderFramework.ViewModels.EmployeeListViewModel
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div style="text-align:center;display:inline">
    <h2>@ViewBag.ProgramName <small>@Resources.Common.Index</small></h2>
</div>

@if (TempData["save"] != null)
{
    <script type="text/javascript">
        parent.$('.fancybox-close').click();
    </script>
}

<div class="well" id="Search">
    @using (Html.BeginForm("Index", "Employee",
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form", id = "PageList" }))
    {
        <div class="row">
            <div class="col-md-6 form-group">
                @*<label class="col-lg-3 control-label">Product Name:</label>*@
                @Html.LabelFor(x => x.Employees.FirstOrDefault().EmpID, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.SearchParameter.EmpID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6 form-group">
                @*<label class="col-lg-3 control-label">Quantity Per Unit:</label>*@
                @Html.LabelFor(x => x.Employees.FirstOrDefault().EmpName, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.SearchParameter.EmpName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">Supplier:</label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(x => x.SearchParameter.Supplier, (SelectList)Model.Suppliers, "-- select item --", new { @class = "form-control" })
                    </div>
                </div>*@
        </div>
        <span class="clearfix"></span>
        <div class="row">
            <div class="col-md-offset-5">
                <input type="submit" class="btn btn-primary" value=@Resources.Common.Search>
                <span></span>
                <input type="reset" class="btn btn-default" value=@Resources.Common.Cancel>
            </div>
        </div>
    }
</div>


    <table class="table">
        <thead>
            <tr id="sticker">
                <th>

                    <div class="btn-group" role="group" aria-label="...">

                        @Html.ActionLink(Resources.Common.Create, "Create", "", new { @class = "fancybox fancybox.iframe btn btn-default btn-group btn-sm", role = "group" })
                        <a class="fancybox btn btn-default btn-group btn-sm" href="#Search">查詢</a>

                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.PagedListPager(Model.Employees,
    page => Url.Action("Index", new { page }),
    PagedListRenderOptions.ClassicPlusFirstAndLast)


                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().EmpID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().EmpName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().DeptID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().PositionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().IDCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Memo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().EmpCardID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().CreateUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().CreateDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().ModifyUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().ModifyDateTime)
                </th>
                <th></th>
            </tr>
        </thead>

            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpName)
                    </td>
                    <td>
                        @if (@Model.Department.ContainsKey(item.DeptID))
                        {@Model.Department[item.DeptID] }
                        else
                        {@Html.DisplayFor(modelItem => item.DeptID)}
                    </td>
                    <td>
                        @if (@Model.Position.ContainsKey(item.PositionID))
                        {@Model.Position[item.PositionID] }
                        else
                        {@Html.DisplayFor(modelItem => item.PositionID)}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDCard)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Memo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpCardID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDateTime)
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Common.Edit, "Edit", new { id = item.CompanyID + ',' + @item.EmpID }) |
                        @Html.ActionLink(Resources.Common.Details, "Details", new { id = item.CompanyID + ',' + @item.EmpID }) |
                        @Html.ActionLink(Resources.Common.Delete, "Delete", new { id = item.CompanyID + ',' + @item.EmpID })
                    </td>
                </tr>
            }

</table>
    @section scripts
{
        <script type="text/javascript">
            $(function () {
                $('.pagination>li>a[href]').each(function (i, item) {
                    var page = $(item).attr('href').replace('/Employee?page=', '');
                    $(item).attr('href', '#').click(function () { postPage(page); });

                });
            });

            function postPage(page) {
                var targetFormId = '#PageList';
                if ($(targetFormId).size() > 0) {
                    $('<input>')
                        .attr({ type: 'hidden', id: 'PageIndex', name: 'PageIndex', value: page })
                        .appendTo($(targetFormId));
                    $(targetFormId).submit();
                }
            };
        </script>
    }
