@model OpenOrderFramework.Models.Warehouse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Common.Details</h2>

<div>
    <h4>Warehouse</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Common.Edit, "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink(Resources.Common.BacktoList, "Index")
</p>
