@model OpenOrderFramework.Models.Warehouse

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FacyboxLayout.cshtml";
}

<div style="text-align:center;display:inline">
    <h2>@ViewBag.ProgramName <small>@Resources.Common.Edit</small></h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CompanyID)

        @*@Html.HiddenFor(model => model.WarehouseID)*@

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.WarehouseID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WarehouseID)
                @Html.ValidationMessageFor(model => model.WarehouseID)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.WarehouseName, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WarehouseName)
                @Html.ValidationMessageFor(model => model.WarehouseName)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.WarehouseAddress, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WarehouseAddress)
                @Html.ValidationMessageFor(model => model.WarehouseAddress)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.CreateUserID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserID)
                @Html.ValidationMessageFor(model => model.CreateUserID)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.CreateDateTime, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDateTime)
                @Html.ValidationMessageFor(model => model.CreateDateTime)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.ModifyUserID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyUserID)
                @Html.ValidationMessageFor(model => model.ModifyUserID)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.ModifyDateTime, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDateTime)
                @Html.ValidationMessageFor(model => model.ModifyDateTime)
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="control-label text-right">
                <input type="submit" value=@Resources.Common.btnSave class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
