@model OpenOrderFramework.Models.Code

@{
    ViewBag.Title = Resources.Common.Create;
    Layout = "~/Views/Shared/_FacyboxLayout.cshtml";
}

<div>
    @Html.ActionLink(Resources.Common.BacktoList, "Index", new { id = @ViewBag.CompanyID + ',' + @ViewBag.OrderNo })
</div>

<div style="text-align:center;display:inline">
    <h2>代碼類別：@ViewBag.Code_Kind <small>@Resources.Common.Create</small></h2>
</div>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.CompanyID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Code_Kind, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CodeKind)*@
                @Html.DropDownListFor(model => model.Code_Kind, (IEnumerable<SelectListItem>)ViewBag.Code_Kinds, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code_Kind)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.CodeID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodeID)
                @Html.ValidationMessageFor(model => model.CodeID)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.CodeName, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodeName)
                @Html.ValidationMessageFor(model => model.CodeName)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Code1, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code1)
                @Html.ValidationMessageFor(model => model.Code1)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Code2, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code2)
                @Html.ValidationMessageFor(model => model.Code2)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Memo)
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            @Html.LabelFor(model => model.Modify_YN, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Modify_YN, (IEnumerable<SelectListItem>)ViewBag.CodeYNs, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Modify_YN)
            </div>
        </div>

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.CreateUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.CreateUserID)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CreateDateTime, new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDateTime)
                    @Html.ValidationMessageFor(model => model.CreateDateTime)
                </div>
            </div>*@

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.ModifyUserID, new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyUserID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.ModifyUserID)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ModifyDateTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifyDateTime)
                    @Html.ValidationMessageFor(model => model.ModifyDateTime)
                </div>
            </div>*@

        <div class="form-group col-md-12">
            <div class="control-label text-right">
                <input type="submit" value=@Resources.Common.btnCreate class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
