@model OpenOrderFramework.Models.Factory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Common.Details</h2>

<div>
    <h4>Factory</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactoryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactoryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneCountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneAreaCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneAreaCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactTiitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactTiitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactoryLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactoryLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayTerms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayTerms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acct_no_ar1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acct_no_ar1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acct_no_ar2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acct_no_ar2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acct_no_ar3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acct_no_ar3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acct_no_ar4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acct_no_ar4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acct_no_ar5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acct_no_ar5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acct_no_ar6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acct_no_ar6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InValidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InValidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Common.Edit, "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink(Resources.Common.BacktoList, "Index")
</p>
