@*@model IEnumerable<openorderframework.models.combproduct_m>*@
@using PagedList.Mvc
@model OpenOrderFramework.ViewModels.CombProduct_mListViewModel

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div style="text-align:center;display:inline">
    <h2>@ViewBag.ProgramName <small>@Resources.Common.Index</small></h2>
</div>
<div class="well" id="Search">
    @using (Html.BeginForm("Index", "CombProduct_m",
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form", id = "PageList" }))
    {
        <div class="row">
            <div class="col-md-6 form-group">
                @*<label class="col-lg-3 control-label">Product Name:</label>*@
                @Html.LabelFor(x => x.CombProduct_ms.FirstOrDefault().CombProductID, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.SearchParameter.CombProductID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6 form-group">
                @*<label class="col-lg-3 control-label">Quantity Per Unit:</label>*@
                @Html.LabelFor(x => x.CombProduct_ms.FirstOrDefault().CombProdName, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.SearchParameter.CombProdName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6 form-group">
                @*<label class="col-lg-3 control-label">Quantity Per Unit:</label>*@
                @Html.LabelFor(x => x.CombProduct_ms.FirstOrDefault().CombProdSpec, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.SearchParameter.CombProdSpec, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">Supplier:</label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(x => x.SearchParameter.Supplier, (SelectList)Model.Suppliers, "-- select item --", new { @class = "form-control" })
                    </div>
                </div>*@
        </div>
        <span class="clearfix"></span>
        <div class="row">
            <div class="col-md-offset-5">
                <input type="submit" class="btn btn-primary" value=@Resources.Common.Search>
                <span></span>
                <input type="reset" class="btn btn-default" value=@Resources.Common.Cancel>
            </div>
        </div>
    }
</div>
    <table class="table">
        <thead>
            <tr id="sticker">
                <th>

                    <div class="btn-group" role="group" aria-label="...">

                        @Html.ActionLink(Resources.Common.Create, "Create", "", new { @class = "fancybox fancybox.iframe btn btn-default btn-group btn-sm", role = "group" })
                        <a class="fancybox btn btn-default btn-group btn-sm" href="#Search">查詢</a>

                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.PagedListPager(Model.CombProduct_ms,
    page => Url.Action("Index", new { page }),
    PagedListRenderOptions.ClassicPlusFirstAndLast)



                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ms.FirstOrDefault().CombProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ms.FirstOrDefault().CombProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ms.FirstOrDefault().CombProdSpec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ms.FirstOrDefault().Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ms.FirstOrDefault().Memo)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.CombProdcut_ms.FirstOrDefault().CreateUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProdcut_ms.FirstOrDefault().CreateDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProdcut_ms.FirstOrDefault().ModifyUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProdcut_ms.FirstOrDefault().ModifyDateTime)
                </th>*@
                <th></th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ds.FirstOrDefault().CombProdSeq)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ds.FirstOrDefault().ProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ds.FirstOrDefault().OtherProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CombProduct_ds.FirstOrDefault().Memo)
                </th>
                <th></th>
            </tr>
        </thead>


            @foreach (var item in Model.CombProduct_ms)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CombProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CombProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CombProdSpec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Memo)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreateUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDateTime)
                    </td>*@
                    <td>
                        @Html.ActionLink(Resources.Common.Edit, "Edit", new { id = item.CompanyID + ',' + @item.CombProductID }) |
                        @Html.ActionLink(Resources.Common.Details, "Details", new { id = item.CompanyID + ',' + @item.CombProductID }) |
                        @Html.ActionLink(Resources.Common.Delete, "Delete", new { id = item.CompanyID + ',' + @item.CombProductID }) |
                        @Html.ActionLink(Resources.Common.Create, "../CombProduct_d/Create", new { id = item.CompanyID + ',' + @item.CombProductID })
                    </td>
                </tr>

                foreach (var item_d in Model.CombProduct_ds)
                {
                    if (item_d.CombProductID == item.CombProductID)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item_d.CombProdSeq)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item_d.ProductID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item_d.OtherProductID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item_d.Memo)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.CreateUserID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifyUserID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifyDateTime)
                            </td>*@
                            <td>
                                @Html.ActionLink(Resources.Common.Edit, "Edit", new { id = item.CompanyID + ',' + @item.CombProductID }) |
                                @Html.ActionLink(Resources.Common.Details, "Details", new { id = item.CompanyID + ',' + @item.CombProductID }) |
                                @Html.ActionLink(Resources.Common.Delete, "Delete", new { id = item.CompanyID + ',' + @item.CombProductID })
                            </td>
                        </tr>
                    }
                }

            }

</table>
    @section scripts
{
        <script type="text/javascript">
            $(function () {
                $('.pagination>li>a[href]').each(function (i, item) {
                    var page = $(item).attr('href').replace('/CombProduct_m?page=', '');
                    $(item).attr('href', '#').click(function () { postPage(page); });

                });
            });

            function postPage(page) {
                var targetFormId = '#PageList';
                if ($(targetFormId).size() > 0) {
                    $('<input>')
                        .attr({ type: 'hidden', id: 'PageIndex', name: 'PageIndex', value: page })
                        .appendTo($(targetFormId));
                    $(targetFormId).submit();
                }
            };
        </script>
    }
