@model OpenOrderFramework.Models.Order_d_tran

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Common.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order_d_tran</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CompanyID)

        @Html.HiddenFor(model => model.OrderNo)

        @Html.HiddenFor(model => model.OrderSeq)

        @Html.HiddenFor(model => model.TranDateTime)

        <div class="form-group">
            @Html.LabelFor(model => model.QuoteNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuoteNo)
                @Html.ValidationMessageFor(model => model.QuoteNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuoteSeq, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuoteSeq)
                @Html.ValidationMessageFor(model => model.QuoteSeq)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductID)
                @Html.ValidationMessageFor(model => model.ProductID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProdName)
                @Html.ValidationMessageFor(model => model.ProdName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdSpec, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProdSpec)
                @Html.ValidationMessageFor(model => model.ProdSpec)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qty)
                @Html.ValidationMessageFor(model => model.Qty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdUnit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProdUnit)
                @Html.ValidationMessageFor(model => model.ProdUnit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CostPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CostPrice)
                @Html.ValidationMessageFor(model => model.CostPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice)
                @Html.ValidationMessageFor(model => model.UnitPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount)
                @Html.ValidationMessageFor(model => model.Discount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Memo)
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderStatus)
                @Html.ValidationMessageFor(model => model.OrderStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataStatus)
                @Html.ValidationMessageFor(model => model.DataStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndCode_YN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndCode_YN)
                @Html.ValidationMessageFor(model => model.EndCode_YN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Temperature, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temperature)
                @Html.ValidationMessageFor(model => model.Temperature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sugar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sugar)
                @Html.ValidationMessageFor(model => model.Sugar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size)
                @Html.ValidationMessageFor(model => model.Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserID)
                @Html.ValidationMessageFor(model => model.CreateUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDateTime)
                @Html.ValidationMessageFor(model => model.CreateDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyUserID)
                @Html.ValidationMessageFor(model => model.ModifyUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifyDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDateTime)
                @Html.ValidationMessageFor(model => model.ModifyDateTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.Common.BacktoList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
