@model OpenOrderFramework.Models.Order_m

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Common.Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order_m</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.CompanyID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.CompanyID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNo)
                @Html.ValidationMessageFor(model => model.OrderNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDateTime)
                @Html.ValidationMessageFor(model => model.OrderDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerID)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustName)
                @Html.ValidationMessageFor(model => model.CustName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FaxNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FaxNumber)
                @Html.ValidationMessageFor(model => model.FaxNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactName)
                @Html.ValidationMessageFor(model => model.ContactName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelephoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelephoneNumber)
                @Html.ValidationMessageFor(model => model.TelephoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNumber)
                @Html.ValidationMessageFor(model => model.MobileNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayKind, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.PayKind)*@
                @Html.DropDownListFor(model => model.PayKind, (IEnumerable<SelectListItem>)ViewBag.PayKinds, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PayKind)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryAddress)
                @Html.ValidationMessageFor(model => model.DeliveryAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckUserID)
                @Html.ValidationMessageFor(model => model.CheckUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayAccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayAccount)
                @Html.ValidationMessageFor(model => model.PayAccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppleyAccount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppleyAccount)
                @Html.ValidationMessageFor(model => model.AppleyAccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNAME)
                @Html.ValidationMessageFor(model => model.AccountNAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Memo)
                @Html.ValidationMessageFor(model => model.Memo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DataStatus)*@
                @Html.DropDownListFor(model => model.DataStatus, (IEnumerable<SelectListItem>)ViewBag.CodeOrderDataStatuses, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DataStatus)
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryDateTime)
                @Html.ValidationMessageFor(model => model.DeliveryDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryUserID)
                @Html.ValidationMessageFor(model => model.DeliveryUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Promotional, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Promotional)
                @Html.ValidationMessageFor(model => model.Promotional)
            </div>
        </div>

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.CreateUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.CreateUserID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreateDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDateTime)
                @Html.ValidationMessageFor(model => model.CreateDateTime)
            </div>
        </div>*@

        <div class="form-group noDisplay">
            @Html.LabelFor(model => model.ModifyUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyUserID, new { htmlAttributes = new { @class = "form-control", @Value = "Enter" } })
                @Html.ValidationMessageFor(model => model.ModifyUserID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ModifyDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifyDateTime)
                @Html.ValidationMessageFor(model => model.ModifyDateTime)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Common.btnCreate class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.Common.BacktoList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
